
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* ,*::before,*::after{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.content{
  margin: 0 auto;
  width: 80%;
  max-width: 750px;
}
.hero p {
  margin-bottom: 4em;
}
.hero{
  width: 100%;
  padding: 50px 0;
  background-color: antiquewhite;
  color: #000000;
}

h1{
  font-size: 5vh;
}

a{
  border: none;
  text-decoration: none;
  background-color: blueviolet;
  color:#fff;
  /* margin: 1em auto; */
  padding: 0.4em 0.8em;
  border-radius: 50px;
  font-size: 1.5em;
}
.hero p{
  font-size: 1em;
  padding: auto;
}
.btn{
  width: 300px;
}
a:hover,a:focus{
  opacity: .80;
  /* color: #000000; */
}